@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@500&display=swap");

body {
  margin: 1em;
}

#app {
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

code,
pre,
.tag {
  font-family: "Roboto Mono", monospace;
}
